/* line 19, ../sass/main.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 27, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 132, ../sass/main.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 137, ../sass/main.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 142, ../sass/main.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 147, ../sass/main.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 152, ../sass/main.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 159, ../sass/main.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 164, ../sass/main.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 169, ../sass/main.scss */
.navbar {
  border: 0px;
  transition: 0.5s;
  color: white !important;
}

@media only screen and (max-width: 767px) {
  /* line 179, ../sass/main.scss */
  .navbar {
    /*min-height: 65px;*/
    border: 0px;
  }
}
/* line 195, ../sass/main.scss */
.navbar.scrolldown {
  background-color: #001400;
}

/* line 199, ../sass/main.scss */
.navbar.scrolldown a {
  color: white;
}

/* line 203, ../sass/main.scss */
.collapse a {
  color: white;
}

/* line 207, ../sass/main.scss */
.navbar.scrolldown li {
  color: white;
}

/* line 211, ../sass/main.scss */
.navbar-brand {
  word-spacing: 0.5em;
  line-height: 0.76;
}

/* line 216, ../sass/main.scss */
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  color: #111;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 225, ../sass/main.scss */
#login-dp .help-block {
  font-size: 12px;
}

/* line 229, ../sass/main.scss */
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  color: #333;
  clear: both;
  padding: 14px;
}

/* line 237, ../sass/main.scss */
#login-dp .social-buttons {
  margin: 12px 0;
}

/* line 241, ../sass/main.scss */
#login-dp .social-buttons a {
  width: 49%;
}

/* line 245, ../sass/main.scss */
#login-dp .form-group {
  margin-bottom: 10px;
}

/* line 249, ../sass/main.scss */
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

/* line 254, ../sass/main.scss */
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}

/* line 259, ../sass/main.scss */
.btn-tw {
  color: #fff;
  background-color: #55acee;
}

/* line 264, ../sass/main.scss */
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media (max-width: 768px) {
  /* line 270, ../sass/main.scss */
  #login-dp {
    background-color: inherit;
    color: #fff;
  }

  /* line 274, ../sass/main.scss */
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
/* line 280, ../sass/main.scss */
.title {
  position: fixed;
  top: 100px;
  margin: auto;
  width: 100%;
  height: 250px;
  z-index: 10;
}

/* line 290, ../sass/main.scss */
.title.scrolldown {
  position: absolute;
  top: 200px;
}

/* line 295, ../sass/main.scss */
#rowleft {
  height: 300px;
  width: 400px;
  display: block;
  float: left;
}

/* line 302, ../sass/main.scss */
#rowright {
  float: left;
  width: 50%;
  margin: auto;
}

/* line 308, ../sass/main.scss */
#content {
  padding-top: 80px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 100vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/mision.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 321, ../sass/main.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: white;
  bottom: 0;
  /*background-color: rgba(50, 50, 50, 0.7);*/
}

/* line 331, ../sass/main.scss */
svg {
  width: 100%;
  height: inherit;
}
/* line 334, ../sass/main.scss */
svg text {
  text-anchor: middle;
}
/* line 339, ../sass/main.scss */
svg #alpha {
  fill: #999999;
}
/* line 343, ../sass/main.scss */
svg #title {
  letter-spacing: -2px;
  font-size: 6em;
  font-weight: 800;
}
/* line 348, ../sass/main.scss */
svg #subtitle {
  letter-spacing: 10px;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 354, ../sass/main.scss */
svg #titlebase {
  fill: black;
  mask: url(#titlemask);
}
/* line 358, ../sass/main.scss */
svg #hikingbase {
  fill: black;
  mask: url(#hikingmask);
}
/* line 362, ../sass/main.scss */
svg #swimmingbase {
  fill: black;
  mask: url(#swimmingmask);
}
/* line 366, ../sass/main.scss */
svg #runningbase {
  fill: black;
  mask: url(#runningmask);
}
/* line 370, ../sass/main.scss */
svg #sportsbase {
  fill: black;
  mask: url(#sportsmask);
}
/* line 374, ../sass/main.scss */
svg #rockclimbingbase {
  fill: black;
  mask: url(#rockclimbingmask);
}
/* line 378, ../sass/main.scss */
svg #skiingbase {
  fill: black;
  mask: url(#skiingmask);
}

/* line 385, ../sass/main.scss */
.contentbody {
  margin-top: 0;
  background-color: rgba(200, 200, 200, 0.7);
  width: 90%;
  margin: auto;
  height: auto;
}

/* line 393, ../sass/main.scss */
.contentbody p {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 75%;
  background-color: rgba(0, 53, 95, 0.5);
}

/* line 405, ../sass/main.scss */
.header {
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 0.78;
  font-weight: 400;
}

/* line 413, ../sass/main.scss */
#slidein {
  width: 100%;
  padding-bottom: 30px;
  line-height: 0.69;
  padding-top: 20vh;
  /*border: 3px solid green;*/
}

/* line 421, ../sass/main.scss */
#slidein h1 {
  color: white;
  font-size: 70px;
  line-height: 0.75;
  font-weight: 400;
}

/* line 428, ../sass/main.scss */
#header {
  top: 0;
  color: white;
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

/* line 438, ../sass/main.scss */
#autoscroll {
  /*padding-top: 400px;*/
  width: 100%;
  /*margin:auto;*/
  text-align: center;
  bottom: 10px;
  position: absolute;
}

/* line 447, ../sass/main.scss */
#autoscroll a {
  /*font-size: 4em;*/
  bottom: 0;
  color: white;
  text-decoration: none;
}

/* line 454, ../sass/main.scss */
#scrollbox {
  top: 0;
}

/* line 458, ../sass/main.scss */
#scrollbox .glyphicon {
  font-size: 25px;
}

/* line 462, ../sass/main.scss */
#scrolldown {
  /*position: absolute;*/
  font-size: 4em;
  position: absolute;
  margin-left: -23px;
  margin-bottom: -14px;
}

/* line 470, ../sass/main.scss */
#scrolldownarrow {
  z-index: -1;
  display: block;
}

/* line 475, ../sass/main.scss */
.separator {
  margin-top: 0;
  background-color: #001400;
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

/* line 485, ../sass/main.scss */
.separator p {
  font-size: 18px;
  width: 80%;
  margin: auto;
}

/* line 492, ../sass/main.scss */
#activities {
  text-align: center;
  color: white;
  width: 100%;
  margin: auto;
  background-color: #333;
}

/* line 501, ../sass/main.scss */
#activities table {
  width: 100%;
  margin: auto;
}

/* line 506, ../sass/main.scss */
#activities th {
  width: 100%;
  font-size: 5vw;
  text-align: center;
}

/* line 512, ../sass/main.scss */
#activities tr {
  padding: 30px;
}

/* line 517, ../sass/main.scss */
#activities td div {
  margin: auto;
  width: 33vw;
  height: 33vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 526, ../sass/main.scss */
#hiking {
  background: url("/images/hiking.jpg");
}

/* line 530, ../sass/main.scss */
#rockclimbing {
  background: url("/images/rockclimbing.jpg");
}

/* line 534, ../sass/main.scss */
#running {
  background: url("/images/running.jpg");
}

/* line 538, ../sass/main.scss */
#sports {
  background: url("/images/sports.jpg");
}

/* line 542, ../sass/main.scss */
#swimming {
  background: url("/images/swimming.jpg");
}

/* line 546, ../sass/main.scss */
#swimming {
  background: url("/images/swimming.jpg");
}

/* line 550, ../sass/main.scss */
#skiing {
  background: url("/images/skiing.jpg");
}

/* line 554, ../sass/main.scss */
#statement {
  line-height: 30px;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  background: url("/images/pineforest.jpg");
  background-attachment: fixed;
}

/* line 572, ../sass/main.scss */
#missionstatement {
  width: 80%;
  background-color: rgba(13, 59, 2, 0.5);
  margin: auto;
}

/* line 578, ../sass/main.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 587, ../sass/main.scss */
.noselect-recursive *,
.noselect-recursive * *,
.noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 598, ../sass/main.scss */
footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: rgba(50, 50, 50, 0.7);
}

/* line 609, ../sass/main.scss */
footer a {
  display: inline;
  color: white;
  text-decoration: none;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25;
}

/* line 620, ../sass/main.scss */
footer a:hover {
  color: #001400;
}
