/* line 23, ../sass/main.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 31, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/mision.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 113, ../sass/main.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 117, ../sass/main.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 121, ../sass/main.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 126, ../sass/main.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 130, ../sass/main.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 136, ../sass/main.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 140, ../sass/main.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 144, ../sass/main.scss */
.navbar {
  border: 0px;
  transition: 0.5s;
  color: white !important;
}

@media only screen and (max-width: 767px) {
  /* line 155, ../sass/main.scss */
  .navbar {
    /*min-height: 65px;*/
    border: 0px;
  }
}
/* line 180, ../sass/main.scss */
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 186, ../sass/main.scss */
#login-dp .help-block {
  font-size: 12px;
}

/* line 189, ../sass/main.scss */
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

/* line 195, ../sass/main.scss */
#login-dp .social-buttons {
  margin: 12px 0;
}

/* line 198, ../sass/main.scss */
#login-dp .social-buttons a {
  width: 49%;
}

/* line 201, ../sass/main.scss */
#login-dp .form-group {
  margin-bottom: 10px;
}

/* line 204, ../sass/main.scss */
.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

/* line 208, ../sass/main.scss */
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}

/* line 212, ../sass/main.scss */
.btn-tw {
  color: #fff;
  background-color: #55acee;
}

/* line 216, ../sass/main.scss */
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media (max-width: 768px) {
  /* line 221, ../sass/main.scss */
  #login-dp {
    background-color: inherit;
    color: #fff;
  }

  /* line 225, ../sass/main.scss */
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
/* line 231, ../sass/main.scss */
.title {
  position: fixed;
  top: 100px;
  margin: auto;
  width: 100%;
  height: 250px;
  z-index: 10;
}

/* line 241, ../sass/main.scss */
.title.scrolldown {
  position: absolute;
  top: 200px;
}

/* line 246, ../sass/main.scss */
#rowleft {
  height: 300px;
  width: 400px;
  display: block;
  float: left;
}

/* line 253, ../sass/main.scss */
#rowright {
  float: left;
  width: 50%;
  margin: auto;
}

/* line 259, ../sass/main.scss */
#content {
  padding-top: 80px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 100vh;
}

/* line 268, ../sass/main.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: white;
  bottom: 0;
  /*background-color: rgba(50, 50, 50, 0.7);*/
}

/* line 278, ../sass/main.scss */
svg {
  width: 100%;
  height: inherit;
}
/* line 281, ../sass/main.scss */
svg text {
  text-anchor: middle;
}
/* line 286, ../sass/main.scss */
svg #alpha {
  fill: #999999;
}
/* line 290, ../sass/main.scss */
svg #title {
  letter-spacing: -2px;
  font-size: 6em;
  font-weight: 800;
}
/* line 295, ../sass/main.scss */
svg #subtitle {
  letter-spacing: 8px;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 301, ../sass/main.scss */
svg #base {
  fill: black;
  mask: url(#mask);
}

/* line 309, ../sass/main.scss */
.contentbody {
  margin-top: 0;
  background-color: rgba(200, 200, 200, 0.7);
  width: 90%;
  margin: auto;
  height: auto;
}

/* line 317, ../sass/main.scss */
.contentbody p {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 75%;
  background-color: rgba(0, 53, 95, 0.5);
}

/* line 329, ../sass/main.scss */
.header {
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 0.78;
  font-weight: 400;
}

/* line 337, ../sass/main.scss */
#slidein {
  width: 100%;
  padding-bottom: 30px;
  line-height: 0.69;
  padding-top: 20vh;
  /*border: 3px solid green;*/
}

/* line 345, ../sass/main.scss */
#slidein h1 {
  color: white;
  font-size: 70px;
  line-height: 0.75;
  font-weight: 400;
}

/* line 352, ../sass/main.scss */
#header {
  top: 0;
  color: white;
  position: fixed;
  display: inline-block;
  width: 100%;
  z-index: 1;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

/* line 362, ../sass/main.scss */
#autoscroll {
  /*padding-top: 400px;*/
  width: 100%;
  /*margin:auto;*/
  text-align: center;
  bottom: 10px;
  position: absolute;
}

/* line 371, ../sass/main.scss */
#autoscroll a {
  /*font-size: 4em;*/
  bottom: 0;
  color: white;
  text-decoration: none;
}

/* line 378, ../sass/main.scss */
#scrollbox {
  top: 0;
}

/* line 382, ../sass/main.scss */
#scrollbox .glyphicon {
  font-size: 25px;
}

/* line 386, ../sass/main.scss */
#scrolldown {
  /*position: absolute;*/
  font-size: 4em;
  position: absolute;
  margin-left: -23px;
  margin-bottom: -14px;
}

/* line 394, ../sass/main.scss */
#scrolldownarrow {
  z-index: -1;
  display: block;
}

/* line 399, ../sass/main.scss */
#statement {
  /*display: block;*/
}

/* line 403, ../sass/main.scss */
#missionstatement {
  line-height: 30px;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  width: 90%;
  background-color: rgba(13, 59, 2, 0.5);
}

/* line 419, ../sass/main.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 428, ../sass/main.scss */
.noselect-recursive *, .noselect-recursive * *, .noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 437, ../sass/main.scss */
footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: rgba(50, 50, 50, 0.7);
}

/* line 448, ../sass/main.scss */
footer a {
  display: inline;
  color: white;
  text-decoration: none;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25;
}

/* line 459, ../sass/main.scss */
footer a:hover {
  color: #228B22;
}
