/* line 6, ../sass/_signup.scss */
input[type=text], input[type=password] {
  width: 100%;
  height: 30px !important;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}

/* line 17, ../sass/_signup.scss */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* line 27, ../sass/_signup.scss */
button:hover {
  background-color: #2d682f;
}

/* line 31, ../sass/_signup.scss */
.cancelbtn:hover {
  background-color: black;
}

/* line 35, ../sass/_signup.scss */
.cancelbtn {
  padding: 14px 20px;
  background-color: #333;
}

/* line 40, ../sass/_signup.scss */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* line 45, ../sass/_signup.scss */
.container {
  padding: 16px;
}

/* line 49, ../sass/_signup.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  /* line 56, ../sass/_signup.scss */
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* line 4, ../sass/_blog.scss */
.blogpost {
  background-color: rgba(0, 0, 0, 0.01) !important;
  width: 80%;
  margin: auto;
  color: white;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 300;
  line-spacing: -2px;
  padding-bottom: 30px;
  padding: 15px;
  text-align: center;
}

/* line 18, ../sass/_blog.scss */
.blogpostwrapper {
  text-align: center;
  width: 70%;
  margin: auto;
  background-color: black;
  border-radius: 4px;
  padding: 10px;
}

/* line 27, ../sass/_blog.scss */
.blogpost h1 {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/* line 33, ../sass/_blog.scss */
.blogpost h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-size: 1.2em !important;
  text-align: center;
}

/* line 8, ../sass/_index.scss */
.aboutus {
  font-size: 1.2em;
  line-height: 120%;
  font-weight: 400;
  background-color: #001400;
  color: white !important;
  padding: 0;
  height: auto;
  text-align: center;
}

/* line 19, ../sass/_index.scss */
.aboutuscontainer {
  width: 70%;
  min-width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

/* line 27, ../sass/_index.scss */
.geartrade {
  font-size: 1.2em;
  color: #fff;
  background-color: #228B22;
  margin: auto;
  text-align: center;
  padding: 20px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  display: inline-block;
}

/* line 40, ../sass/_index.scss */
.geartradecontainer {
  width: 70%;
  min-width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

/* line 48, ../sass/_index.scss */
.blog {
  font-size: 1.2em;
  color: black;
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 20px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  display: inline-block;
}

/* line 61, ../sass/_index.scss */
.blogcontainer {
  width: 70%;
  min-width: 400px;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}

/* line 69, ../sass/_index.scss */
.endcontent {
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  height: 90vh;
  position: relative;
  width: 100%;
  display: inline-block;
  background-image: url("https://c1.staticflickr.com/2/1629/26323803930_c68c65942b_k.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* line 81, ../sass/_index.scss */
.endcontent h1 {
  font-weight: 400;
  font-size: 5em;
}

/* line 86, ../sass/_index.scss */
.endcontent .glyphicon.glyphicon-leaf {
  font-size: 7em;
  color: #228B22 !important;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  -moz-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  text-decoration: none;
}

/* line 93, ../sass/_index.scss */
.social {
  margin-top: 30px;
  font-size: 3em;
  letter-spacing: 12px;
  background-color: #333;
  width: 40vw;
  border-radius: 20px;
  margin: auto;
}

/* line 103, ../sass/_index.scss */
.social .fa {
  text-decoration: none !important;
  color: white !important;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  -moz-transition: 0.15s;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

/* line 109, ../sass/_index.scss */
.social .fa:hover {
  color: #228B22 !important;
}

/* line 113, ../sass/_index.scss */
.endcontent .glyphicon.glyphicon-leaf:hover {
  color: white !important;
}

/* line 117, ../sass/_index.scss */
.glyphicon.glyphicon-info-sign {
  margin-top: 50px;
  font-size: 75px;
  color: white !important;
  text-decoration: none;
}

/* line 124, ../sass/_index.scss */
.glyphicon.glyphicon-transfer {
  font-size: 75px;
  color: white !important;
  text-decoration: none;
}

/* line 130, ../sass/_index.scss */
.glyphicon.glyphicon-pencil {
  font-size: 75px;
  color: black !important;
  text-decoration: none;
}

/* line 3, ../sass/_registration.scss */
input[type=text], input[type=email], input[type=password], input[type=number] {
  width: 100%;
  height: 30px !important;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}

/* line 14, ../sass/_registration.scss */
.blogpost {
  background-color: rgba(0, 0, 0, 0.6);
  width: 80%;
  margin: auto;
  color: white;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 300;
  line-spacing: -2px;
  padding-bottom: 30px;
  padding: 15px;
  text-align: center;
}

/* line 28, ../sass/_registration.scss */
.blogpost h1 {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/* line 34, ../sass/_registration.scss */
.registrationform {
  color: white;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
}

/* line 42, ../sass/_registration.scss */
#id_description {
  color: black;
  resize: none;
  width: 100%;
  height: auto;
}

/* line 51, ../sass/_registration.scss */
.registrationform h1 {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/* line 3, ../sass/_geartrade.scss */
.gearbuycontainer {
  text-align: center;
}

/* line 7, ../sass/_geartrade.scss */
.gearbuycontainer h1 {
  text-align: center;
  background-color: white;
  font-weight: 600;
  width: 40%;
  border-radius: 5px;
  font-size: 3em;
  margin: auto;
  color: black;
}

/* line 18, ../sass/_geartrade.scss */
.gearform {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
}

/* line 25, ../sass/_geartrade.scss */
#id_description {
  color: black;
  resize: none;
  width: 100%;
  height: auto;
}

/* line 32, ../sass/_geartrade.scss */
.gearform h1 {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/* line 38, ../sass/_geartrade.scss */
.gearpost {
  background-color: white;
  margin: 0.5vh 0.25vw 0.5vh 0.25vw;
  width: 30%;
  min-width: 400px;
  display: inline-block;
  color: black;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 300;
  line-spacing: -2px;
  text-align: center;
}

/* line 52, ../sass/_geartrade.scss */
.gearpost img {
  padding: 10px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-box-shadow: 1;
  -webkit-box-shadow: 1;
  box-shadow: 1;
}
/* line 57, ../sass/_geartrade.scss */
.gearpost img:hover {
  -moz-box-shadow: 3;
  -webkit-box-shadow: 3;
  box-shadow: 3;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* line 65, ../sass/_geartrade.scss */
.pagination {
  bottom: 0;
  position: relative;
}

/* line 70, ../sass/_geartrade.scss */
.gearpost h1 {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/* line 76, ../sass/_geartrade.scss */
.gearpost h2 {
  font-weight: 400;
  font-size: 1.2em !important;
  text-align: center;
}

/* line 82, ../sass/_geartrade.scss */
.gearitem {
  text-align: center;
}

/* line 88, ../sass/_geartrade.scss */
.gearitem h1, h2 {
  margin: auto;
  background-color: black;
  border-radius: 5px;
  width: 80%;
}

/* line 27, ../sass/main.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 35, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 140, ../sass/main.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 145, ../sass/main.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 150, ../sass/main.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 155, ../sass/main.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 160, ../sass/main.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 167, ../sass/main.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 172, ../sass/main.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 177, ../sass/main.scss */
input[type=text], input[type=password], input[type=email], input[type=tel] {
  height: 28px !important;
}

/* line 181, ../sass/main.scss */
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  color: #111;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 190, ../sass/main.scss */
#login-dp .help-block {
  font-size: 12px;
}

/* line 194, ../sass/main.scss */
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  color: #333;
  clear: both;
  padding: 14px;
}

/* line 202, ../sass/main.scss */
#login-dp .social-buttons {
  margin: 12px 0;
}

/* line 206, ../sass/main.scss */
#login-dp .social-buttons a {
  width: 49%;
}

/* line 210, ../sass/main.scss */
#login-dp .form-group {
  margin-bottom: 10px;
}

/* line 214, ../sass/main.scss */
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}

/* line 219, ../sass/main.scss */
.btn-go {
  color: #fff;
  background-color: #3b5998;
}

/* line 224, ../sass/main.scss */
.btn-go:hover {
  color: #fff;
  background-color: #496ebc;
}

/* line 229, ../sass/main.scss */
.btn-tw {
  color: #fff;
  background-color: #55acee;
}

/* line 234, ../sass/main.scss */
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media (max-width: 768px) {
  /* line 240, ../sass/main.scss */
  #login-dp {
    background-color: inherit;
    color: #fff;
  }

  /* line 244, ../sass/main.scss */
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
/* line 250, ../sass/main.scss */
.account-image {
  top: 7px;
  height: 35px;
  border-radius: 20px;
}

/* line 256, ../sass/main.scss */
.title {
  position: fixed;
  top: 100px;
  margin: auto;
  width: 100%;
  height: 250px;
  z-index: 10;
}

/* line 265, ../sass/main.scss */
.title.scrolldown {
  position: absolute;
  top: 250px;
}

/* line 270, ../sass/main.scss */
#content {
  padding-top: 80px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  color: white;
  height: auto;
  min-height: 100vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/mision.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 281, ../sass/main.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: white;
  bottom: 0;
  /*background-color: rgba(50, 50, 50, 0.7);*/
}

/* line 291, ../sass/main.scss */
svg {
  width: 100%;
  height: inherit;
}
/* line 294, ../sass/main.scss */
svg text {
  text-anchor: middle;
}
/* line 297, ../sass/main.scss */
svg #alpha {
  fill: #999999;
}
/* line 301, ../sass/main.scss */
svg #title {
  letter-spacing: -2px;
  font-size: 9vmin;
  font-weight: 800;
}
/* line 307, ../sass/main.scss */
svg #subtitle {
  letter-spacing: 10px;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 313, ../sass/main.scss */
svg #titlebase {
  fill: black;
  mask: url(#titlemask);
}
/* line 317, ../sass/main.scss */
svg #hikingbase {
  fill: black;
  mask: url(#hikingmask);
}
/* line 321, ../sass/main.scss */
svg #swimmingbase {
  fill: black;
  mask: url(#swimmingmask);
}
/* line 325, ../sass/main.scss */
svg #runningbase {
  fill: black;
  mask: url(#runningmask);
}
/* line 329, ../sass/main.scss */
svg #sportsbase {
  fill: black;
  mask: url(#sportsmask);
}
/* line 333, ../sass/main.scss */
svg #rockclimbingbase {
  fill: black;
  mask: url(#rockclimbingmask);
}
/* line 337, ../sass/main.scss */
svg #skiingbase {
  fill: black;
  mask: url(#skiingmask);
}

/* line 343, ../sass/main.scss */
.contentbody {
  margin-top: 0;
  background-color: rgba(200, 200, 200, 0.7);
  width: 90%;
  margin: auto;
  height: auto;
}

/* line 351, ../sass/main.scss */
.contentbody p {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 75%;
  background-color: rgba(0, 53, 95, 0.5);
}

/* line 363, ../sass/main.scss */
.header {
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 0.78;
  font-weight: 400;
}

/* line 371, ../sass/main.scss */
#slidein {
  width: 100%;
  padding-bottom: 30px;
  line-height: 0.69;
  padding-top: 20vh;
  /*border: 3px solid green;*/
}

/* line 379, ../sass/main.scss */
#slidein h1 {
  color: white;
  font-size: 70px;
  line-height: 0.75;
  font-weight: 400;
}

/* line 386, ../sass/main.scss */
#autoscroll {
  /*padding-top: 400px;*/
  width: 100%;
  /*margin:auto;*/
  text-align: center;
  bottom: 10px;
  position: absolute;
}

/* line 395, ../sass/main.scss */
#autoscroll a {
  /*font-size: 4em;*/
  bottom: 0;
  color: white;
  text-decoration: none;
}

/* line 402, ../sass/main.scss */
#scrollbox {
  top: 0;
}

/* line 406, ../sass/main.scss */
#scrollbox .glyphicon {
  font-size: 25px;
}

/* line 410, ../sass/main.scss */
#scrolldown {
  /*position: absolute;*/
  font-size: 4em;
  position: absolute;
  margin-left: -23px;
  margin-bottom: -14px;
}

/* line 418, ../sass/main.scss */
#scrolldownarrow {
  z-index: -1;
  display: block;
}

/* line 423, ../sass/main.scss */
.separator {
  margin-top: 0;
  background-color: #001400;
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

/* line 433, ../sass/main.scss */
.separator p {
  font-size: 18px;
  width: 80%;
  margin: auto;
}

/* line 440, ../sass/main.scss */
#activities {
  text-align: center;
  color: white;
  width: 100%;
  margin: auto;
  background-color: black;
  display: inline-block;
}

/* line 449, ../sass/main.scss */
.imgrow {
  width: 100%;
  margin: auto;
  display: inline-block;
}

/* line 455, ../sass/main.scss */
.activityimage {
  display: block;
  display: inline-block;
  margin: auto;
  width: 33%;
  min-width: 400px;
  height: 400px;
}

/* line 466, ../sass/main.scss */
.activityimage a {
  display: block;
  height: 100%;
  text-decoration: none;
}

/* line 473, ../sass/main.scss */
#hiking {
  background-image: url("../images/hiking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 477, ../sass/main.scss */
#rockclimbing {
  background-image: url("../images/rockclimbing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 481, ../sass/main.scss */
#running {
  background-image: url("../images/running.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 485, ../sass/main.scss */
#sports {
  background-image: url("../images/sports.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 489, ../sass/main.scss */
#swimming {
  background-image: url("../images/swimming.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 493, ../sass/main.scss */
#skiing {
  background-image: url("../images/skiing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 497, ../sass/main.scss */
#missionstatement {
  width: 80%;
  background-color: rgba(13, 59, 2, 0.5);
  margin: auto;
}

/* line 503, ../sass/main.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 512, ../sass/main.scss */
.noselect-recursive *,
.noselect-recursive * *,
.noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 523, ../sass/main.scss */
footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #001400;
}

/* line 534, ../sass/main.scss */
footer a {
  display: inline;
  color: white;
  text-decoration: none;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* line 541, ../sass/main.scss */
footer a:hover {
  color: #228B22;
}
