/* line 6, ../sass/_signup.scss */
input[type=text], input[type=password] {
  width: 100%;
  height: 30px !important;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}

/* line 17, ../sass/_signup.scss */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* line 27, ../sass/_signup.scss */
button:hover {
  background-color: #2d682f;
}

/* line 31, ../sass/_signup.scss */
.cancelbtn:hover {
  background-color: black;
}

/* line 35, ../sass/_signup.scss */
.cancelbtn {
  padding: 14px 20px;
  background-color: #333;
}

/* line 40, ../sass/_signup.scss */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* line 45, ../sass/_signup.scss */
.container {
  padding: 16px;
}

/* line 49, ../sass/_signup.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  /* line 56, ../sass/_signup.scss */
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* line 3, ../sass/_blog.scss */
.blogpost {
  background-color: rgba(0, 0, 0, 0.6);
  width: 70%;
  margin: auto;
  color: white;
  border-radius: 4px;
  font-size: 1.2em;
  font-weight: 300;
  line-spacing: -2px;
  padding-bottom: 30px;
}

/* line 15, ../sass/_blog.scss */
.blogpost h1 {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
}

/* line 23, ../sass/main.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 31, ../sass/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 167, ../sass/main.scss */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* line 172, ../sass/main.scss */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* line 177, ../sass/main.scss */
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* line 182, ../sass/main.scss */
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* line 187, ../sass/main.scss */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 194, ../sass/main.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* line 199, ../sass/main.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* line 204, ../sass/main.scss */
.navbar {
  border: 0px;
  transition: 0.5s;
  color: white !important;
}

@media only screen and (max-width: 767px) {
  /* line 214, ../sass/main.scss */
  .navbar {
    /*min-height: 65px;*/
    border: 0px;
  }
}
/* line 230, ../sass/main.scss */
.navbar.scrolldown {
  background-color: #001400;
}

/* line 234, ../sass/main.scss */
.navbar-brand {
  word-spacing: 0.5em;
  line-height: 0.76;
}

/* line 239, ../sass/main.scss */
input[type=text], input[type=password], input[type=email], input[type=tel] {
  height: 28px !important;
}

/* line 243, ../sass/main.scss */
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  color: #111;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 252, ../sass/main.scss */
#login-dp .help-block {
  font-size: 12px;
}

/* line 256, ../sass/main.scss */
#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  color: #333;
  clear: both;
  padding: 14px;
}

/* line 264, ../sass/main.scss */
#login-dp .social-buttons {
  margin: 12px 0;
}

/* line 268, ../sass/main.scss */
#login-dp .social-buttons a {
  width: 49%;
}

/* line 272, ../sass/main.scss */
#login-dp .form-group {
  margin-bottom: 10px;
}

/* line 276, ../sass/main.scss */
.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}

/* line 281, ../sass/main.scss */
.btn-go {
  color: #fff;
  background-color: #3b5998;
}

/* line 286, ../sass/main.scss */
.btn-go:hover {
  color: #fff;
  background-color: #496ebc;
}

/* line 291, ../sass/main.scss */
.btn-tw {
  color: #fff;
  background-color: #55acee;
}

/* line 296, ../sass/main.scss */
.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media (max-width: 768px) {
  /* line 302, ../sass/main.scss */
  #login-dp {
    background-color: inherit;
    color: #fff;
  }

  /* line 306, ../sass/main.scss */
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
/* line 312, ../sass/main.scss */
.account-image {
  top: 7px;
  height: 35px;
  border-radius: 20px;
}

/* line 318, ../sass/main.scss */
.title {
  position: fixed;
  top: 100px;
  margin: auto;
  width: 100%;
  height: 250px;
  z-index: 10;
}

/* line 327, ../sass/main.scss */
.title.scrolldown {
  position: absolute;
  top: 250px;
}

/* line 332, ../sass/main.scss */
#content {
  padding-top: 80px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  color: white;
  height: 100vh;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/953/mision.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 342, ../sass/main.scss */
#content h2 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  margin: auto;
  color: white;
  bottom: 0;
  /*background-color: rgba(50, 50, 50, 0.7);*/
}

/* line 352, ../sass/main.scss */
svg {
  width: 100%;
  height: inherit;
}
/* line 355, ../sass/main.scss */
svg text {
  text-anchor: middle;
}
/* line 358, ../sass/main.scss */
svg #alpha {
  fill: #999999;
}
/* line 362, ../sass/main.scss */
svg #title {
  letter-spacing: -2px;
  font-size: 6em;
  font-weight: 800;
}
/* line 367, ../sass/main.scss */
svg #subtitle {
  letter-spacing: 10px;
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 373, ../sass/main.scss */
svg #titlebase {
  fill: black;
  mask: url(#titlemask);
}
/* line 377, ../sass/main.scss */
svg #hikingbase {
  fill: black;
  mask: url(#hikingmask);
}
/* line 381, ../sass/main.scss */
svg #swimmingbase {
  fill: black;
  mask: url(#swimmingmask);
}
/* line 385, ../sass/main.scss */
svg #runningbase {
  fill: black;
  mask: url(#runningmask);
}
/* line 389, ../sass/main.scss */
svg #sportsbase {
  fill: black;
  mask: url(#sportsmask);
}
/* line 393, ../sass/main.scss */
svg #rockclimbingbase {
  fill: black;
  mask: url(#rockclimbingmask);
}
/* line 397, ../sass/main.scss */
svg #skiingbase {
  fill: black;
  mask: url(#skiingmask);
}
/* line 401, ../sass/main.scss */
svg #sellbase {
  fill: black;
  mask: url(#sellmask);
}
/* line 406, ../sass/main.scss */
svg #buybase {
  fill: black;
  mask: url(#buymask);
}

/* line 413, ../sass/main.scss */
.contentbody {
  margin-top: 0;
  background-color: rgba(200, 200, 200, 0.7);
  width: 90%;
  margin: auto;
  height: auto;
}

/* line 421, ../sass/main.scss */
.contentbody p {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 75%;
  background-color: rgba(0, 53, 95, 0.5);
}

/* line 433, ../sass/main.scss */
.header {
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 0.78;
  font-weight: 400;
}

/* line 441, ../sass/main.scss */
#slidein {
  width: 100%;
  padding-bottom: 30px;
  line-height: 0.69;
  padding-top: 20vh;
  /*border: 3px solid green;*/
}

/* line 449, ../sass/main.scss */
#slidein h1 {
  color: white;
  font-size: 70px;
  line-height: 0.75;
  font-weight: 400;
}

/* line 456, ../sass/main.scss */
#autoscroll {
  /*padding-top: 400px;*/
  width: 100%;
  /*margin:auto;*/
  text-align: center;
  bottom: 10px;
  position: absolute;
}

/* line 465, ../sass/main.scss */
#autoscroll a {
  /*font-size: 4em;*/
  bottom: 0;
  color: white;
  text-decoration: none;
}

/* line 472, ../sass/main.scss */
#scrollbox {
  top: 0;
}

/* line 476, ../sass/main.scss */
#scrollbox .glyphicon {
  font-size: 25px;
}

/* line 480, ../sass/main.scss */
#scrolldown {
  /*position: absolute;*/
  font-size: 4em;
  position: absolute;
  margin-left: -23px;
  margin-bottom: -14px;
}

/* line 488, ../sass/main.scss */
#scrolldownarrow {
  z-index: -1;
  display: block;
}

/* line 493, ../sass/main.scss */
.separator {
  margin-top: 0;
  background-color: #001400;
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

/* line 503, ../sass/main.scss */
.separator p {
  font-size: 18px;
  width: 80%;
  margin: auto;
}

/* line 510, ../sass/main.scss */
#activities {
  text-align: center;
  color: white;
  width: 100%;
  margin: auto;
  background-color: black;
  display: inline-block;
}

/* line 519, ../sass/main.scss */
.imgrow {
  width: 100%;
  margin: auto;
  display: inline-block;
}

/* line 525, ../sass/main.scss */
.activityimage {
  display: block;
  display: inline-block;
  margin: auto;
  width: 33%;
  min-width: 400px;
  height: 400px;
}

/* line 536, ../sass/main.scss */
.activityimage a {
  display: block;
  height: 100%;
  text-decoration: none;
}

/* line 543, ../sass/main.scss */
#hiking {
  background-image: url("../images/hiking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 547, ../sass/main.scss */
#rockclimbing {
  background-image: url("../images/rockclimbing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 551, ../sass/main.scss */
#running {
  background-image: url("../images/running.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 555, ../sass/main.scss */
#sports {
  background-image: url("../images/sports.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 559, ../sass/main.scss */
#swimming {
  background-image: url("../images/swimming.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 563, ../sass/main.scss */
#skiing {
  background-image: url("../images/skiing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 567, ../sass/main.scss */
#geartrade {
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  background-image: url("https://static.pexels.com/photos/48694/pexels-photo-48694.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: inline-block;
}

/* line 582, ../sass/main.scss */
#geartrade h1 {
  letter-spacing: -2px;
  font-size: 6em;
  font-weight: 600;
}

/* line 588, ../sass/main.scss */
#sell {
  float: left;
  height: 100px;
  width: 50%;
}

/* line 594, ../sass/main.scss */
#buy {
  float: left;
  height: 100px;
  width: 50%;
}

/* line 600, ../sass/main.scss */
#missionstatement {
  width: 80%;
  background-color: rgba(13, 59, 2, 0.5);
  margin: auto;
}

/* line 606, ../sass/main.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 615, ../sass/main.scss */
.noselect-recursive *,
.noselect-recursive * *,
.noselect-recursive {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 626, ../sass/main.scss */
footer {
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #001400;
}

/* line 637, ../sass/main.scss */
footer a {
  display: inline;
  color: white;
  text-decoration: none;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/* line 644, ../sass/main.scss */
footer a:hover {
  color: #228B22;
}
