{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<div class="content">
    <form class="registrationform" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {{ form.username.label_tag }}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            {{ form.username }}
        </div>

        {{ form.password.label_tag }}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            {{ form.password }}
        </div>

        <input type="submit" value="submit" class="btn btn-success"/></input>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

{% endblock %}
