{% extends "base.html" %}

{% block content %}

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<div id="content">
    <form class="registrationform" method="post" action="{% url 'login' %}">
        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}

        {{ form.password.label_tag }}
        {{ form.password }}

        <input type="submit" value="submit" class="btn btn-lg btn-success"/></input>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

{% endblock %}
