{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="content">
        <!-- <form name="signup" onsubmit="return createAccountForm()"> -->
        <form class="registrationform" name="signup" method="post">
            <div class="signupform">
                {% csrf_token %}
                {{ form }}
                <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <a href="{% url 'ION:home' %}" class="btn btn-lg btn-danger" role="button">Cancel</a>
                    <a type="submit" href="{% url 'login' %}" class="btn btn-lg btn-success" role="button">Sign Up</a>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
