{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id='content'>
        {% for post in gearposts %}
            <section class='gearpost'>
                <h1>{{ post.title }}</h1>
                <h2>By: {{ post.author }}</h2>
                <h2>Created: {{ post.created_date }}</h2>
                <!-- <a src="{{ post.photo }}"></a> -->
                <img src="{{ post.photo.url }}"/>
                {{ post.photo.url }}
                {{ post.description }}
            </section>
        {% endfor %}
    </div>
{% endblock content %}
