{% extends 'base.html' %}

{% block content %}
    <div class="secondarycontent">
        <h1>{{ gearitem.title }}</h1>
        <div class="gearitem">
                <img class="geariteminline" src="{{ gearitem.photo.url }}" style="max-height: 50%; max-width: 100%;"/>
            <div>
                <span><a class="btn btn-success glyphicon glyphicon-usd" href="mailto:{{ gearitem.user.email }}">{{ gearitem.price }}</a></span>
                <span><p class="geariteminline">{{ gearitem.title }}</p></span>
                {{ geartrade.user.email }}
                <br>
                <span>Poster: {{ gearitem.user.username }}</span>
                <span>Posted: {{ gearitem.created_date }}</span>
            </div>
        </div>
    </div>
{% endblock content %}
