{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id='content'>
        {% for post in gearposts %}
            <section class='gearpost'>
                <img src="{{ post.photo.url }}" style="height: 200px;"/>
                <h2>{{ post.title }}</h2>
                <span>By: {{ post.author }}</span>
                <span>Created: {{ post.created_date }}</span>
                {{ post.description }}
            </section>
        {% endfor %}
    </div>
{% endblock content %}
