@import "compass/css3";
@import "mixins";
@import "signup";
@import "blog";
@import "pages";
@import "index";
@import "registration";
@import "geartrade";

$height-mask: 250px;
$geartrademenuheight: 100px;
// To regulate alpha is recommended to use gray scale.
// Recomiendo utilizar escala de grises
$darken: 40%;
$color: rgb(255, 255, 255);
$color-alpha: darken( $color, $darken);

$darkblue: #003366;
$darkbluealpha: rgba(0, 51, 102, 0.7);

$forestgreen: #228B22;
$darkforestgreen: #001400;

$forestgreenalpha: rgba(34, 139, 34, 0.5);
$darkforestgreenalpha: rgba(13, 59, 2, 0.5);

$color-base: rgb(0, 0, 0);
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  // font-family: 'Open Sans', sans-serif;

  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    height: 28px !important;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  color: #111;
  font-weight: 500;
  background-color: rgba(255, 255, 255, .5);
}

#login-dp .help-block {
  font-size: 12px
}

#login-dp .bottom {
  background-color: rgba(255, 255, 255, .8);
  border-top: 1px solid #ddd;
  color: #333;
  clear: both;
  padding: 14px;
}

#login-dp .social-buttons {
  margin: 12px 0
}

#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc
}

.btn-go {
  color: #fff;
  background-color: #3b5998;
}

.btn-go:hover {
  color: #fff;
  background-color: #496ebc
}

.btn-tw {
  color: #fff;
  background-color: #55acee;
}

.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media(max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }
  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}

.account-image {
  top: 7px;
  height: 35px;
  border-radius: 20px;
}

.title {
  position: fixed;
  top: 100px;
  margin: auto;
  width: 100%;
  height: $height-mask;
  z-index: 10;
}

.title.scrolldown {
  position: absolute;
  top: 250px;
}

svg {
  width: 100%;
  height: inherit;
  text {
    text-anchor: middle;
  }
  #alpha {
    fill: $color-alpha;
    // animation: alpha 10s ease infinite;
  }
  #title {
    letter-spacing: -2px;
    font-size: 4.5em;
    font-weight: 1000;
    // word-break: break-all;
  }
  #subtitle {
    letter-spacing: 10px;
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
  }

  #titlebase {
    fill: $color-base;
    mask: url(#titlemask);
  }
  #hikingbase {
    fill: $color-base;
    mask: url(#hikingmask);
  }
  #swimmingbase {
    fill: $color-base;
    mask: url(#swimmingmask);
  }
  #runningbase {
    fill: $color-base;
    mask: url(#runningmask);
  }
  #sportsbase {
    fill: $color-base;
    mask: url(#sportsmask);
  }
  #rockclimbingbase {
    fill: $color-base;
    mask: url(#rockclimbingmask);
  }
  #skiingbase {
    fill: $color-base;
    mask: url(#skiingmask);
  }
}

.container {
    display: flex;
    flex-direction: column;
}

.text-container {
    color: #ffffff;
}

.row {
    flex-direction: row;
}

.section {
    width: 100%;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section:first-child {
    height: 90vh;
}

.section:not(:first-child) {
    padding-top: 125px;
    padding-bottom: 40px;
    background-color: #f3f3f3;
}


.contentbody {
  margin-top: 0;
  background-color: rgba(200, 200, 200, 0.7);
  width: 90%;
  margin: auto;
  height: auto;
}

.contentbody p {
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  margin: auto;
  text-align: center;
  padding: 20px;
  position: relative;
  width: 75%;
  background-color: rgba(0, 53, 95, 0.5);
}

.header {
  text-align: center;
  color: white;
  font-size: 60px;
  line-height: 0.78;
  font-weight: 400;
}

#slidein {
  width: 100%;
  padding-bottom: 30px;
  line-height: 0.69;
  padding-top: 20vh;
  /*border: 3px solid green;*/
}

#slidein h1 {
  color: white;
  font-size: 70px;
  line-height: 0.75;
  font-weight: 400;
}

#autoscroll {
  /*padding-top: 400px;*/
  width: 100%;
  /*margin:auto;*/
  text-align: center;
  bottom: 10px;
  position: absolute;
}

#autoscroll a {
  /*font-size: 4em;*/
  bottom: 0;
  color: white;
  text-decoration: none;
}

#scrollbox {
  top: 0;
}

#scrollbox .glyphicon {
  font-size: 25px;
}

#scrolldown {
  /*position: absolute;*/
  font-size: 4em;
  position: absolute;
  margin-left: -23px;
  margin-bottom: -14px;
}

#scrolldownarrow {
  z-index: -1;
  display: block;
}

.separator {
  margin-top: 0;
  background-color: $darkforestgreen;
  font-size: 40px;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

.separator p {
  font-size: 18px;
  // padding: 20px;
  width: 80%;
  margin: auto;
}

#activities {
  text-align: center;
  color: white;
  width: 100%;
  margin: auto;
  background-color: black;
  display: inline-block;
}

.imgrow {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.activityimage {
  display: block;
  display: inline-block;
  margin: auto;
  width: 33%;
  min-width: 400px;
  height: 400px;

  // @include maxHeightAndWidth(100%, 300px, 400px, 300px);
}

.activityimage a {
  display: block;
  height: 100%;
  // border: 3px solid green;
  text-decoration: none;
}


#missionstatement {
  width: 80%;
  background-color: $darkforestgreenalpha;
  margin: auto;
}

footer {

    a:hover {
        color: white !important;
    }

    div {
        text-align: center !important;
    }

    .bs-docs-footer-links {
        padding-left: 0;
        margin-bottom: 20px;
    }
    .bs-docs-footer-links li {
        display: inline-block;
    }
    .bs-docs-footer-links li + li {
        margin-left: 15px;
    }

    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: rgb(0,53,95);
}
