@import "compass/css3";
@import "mixins";

.blogpost {
    background-color: rgba(0, 0, 0, 0.01) !important;
    width: 80%;
    margin: auto;
    color: white;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 300;
    line-spacing: -2px;
    padding-bottom: 30px;
    padding: 15px;
    text-align: center;
}

.blogpostwrapper {
    text-align: center;
    width: 70%;
    margin: auto;
    background-color: black;
    border-radius: 4px;
    padding: 10px;
}

.blogpost h1 {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}

.blogpost h2 {
    font-size: 1.5em;
    font-weight: 400;
    font-size: 1.2em !important;
    text-align: center;                                                                                                                                                                                 
}
