@import "compass/css3";
@import "mixins";

.gearbuycontainer {
    text-align: center;
}

.gearbuycontainer h1 {
    text-align: center;
    width: 40%;
    margin: auto;
    // color: black;
}

#id_description {
    color: black;
    resize: none;
    width: 100%;
    height: auto;
}

.gearpost {
    @include box_shadow(1);
    background-color: white;
    margin: 0.5vh 0.25vw 0.5vh 0.25vw;
    width: 30%;
    min-width: 400px;
    display: inline-block;
    color: black;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 300;
    line-spacing: -2px;
    text-align: center;
}

.gearpost img {
    padding: 10px;
    @include transitions(0.5s);
    @include box_shadow(1);

    &:hover {
        @include box_shadow(3);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.pagination {
    bottom: 0;
    position: relative;
}

.gearpost h1 {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}

.gearpost h2 {
    font-weight: 400;
    font-size: 1.2em !important;
    text-align: center;
}

.gearitem {
    color: black;
    text-align: center;
    background-color: white;
    // width: 80%;
    margin: auto;
    border-radius: 5px;
}

.gearitem img {
    margin: 10px;
    @include transitions(0.5s);
    @include box_shadow(1);

    &:hover {
        @include box_shadow(3);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.gearitem p {
    display: inline-block;
    // float: left;
    font-size: 1.4em;
}

.gearitem h2 {
    margin: auto;
    color: black !important;
    width: 80%;
    font-size: 1.5em;
    padding-bottom: 10px;
}
