@import "compass/css3";

.aboutus {
    font-size: 1.2em;
    line-height: 120%;
    font-weight: 400;
    background-color: #202020;
    color: white !important;
    padding: 0;
    height: auto;
    text-align: center;
}

.aboutuscontainer {
    width: 70%;
    min-width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.glyphicon.glyphicon-info-sign {
    margin-top: 50px;
    font-size: 75px;
    color: white !important;
    text-decoration: none;
    //padding: 10px;
}
