@import "compass/css3";

.aboutus {
    font-size: 1.2em;
    line-height: 120%;
    font-weight: 400;
    background-color: #001400;
    color: white !important;
    padding: 0;
    height: auto;
    text-align: center;
}

.aboutuscontainer {
    width: 70%;
    min-width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.geartrade {
  color: #fff;
  background-color: #228B22;
  margin: auto;
  text-align: center;
  padding: 20px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  display: inline-block;
}

.geartradecontainer {
    width: 70%;
    min-width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.blog {
  color: black;
  background-color: white;
  margin: auto;
  text-align: center;
  padding: 20px;
  padding-bottom: 200px;
  position: relative;
  width: 100%;
  display: inline-block;
}

.blogcontainer {
    width: 70%;
    min-width: 400px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.endcontent {
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 20px;
    height: 90vh;
    position: relative;
    width: 100%;
    display: inline-block;
    background-image: url("https://c1.staticflickr.com/2/1629/26323803930_c68c65942b_k.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 25%;
    background-attachment: fixed;
}
.endcontent h1 {
    font-weight: 400;
    font-size: 5em;
}

.endcontent .glyphicon.glyphicon-leaf {
    font-size: 7em;
    color: #228B22 !important;
}

.endcontent .glyphicon.glyphicon-leaf:hover {
    color: white !important;
}

.glyphicon.glyphicon-info-sign {
    margin-top: 50px;
    font-size: 75px;
    color: white !important;
    text-decoration: none;
}

.glyphicon.glyphicon-transfer {
    font-size: 75px;
    color: white !important;
    text-decoration: none;
}

.glyphicon.glyphicon-pencil {
    font-size: 75px;
    color: black !important;
    text-decoration: none;
}
