@import "compass/css3";

.aboutus {
    font-size: 1.1em;
    background-color: #001400;
    color: white;
    height: 400px;
}

// .aboutus h1 {
//     font-weight: 600;
//     font-size: 3em;
//     text-align: center;
// }
