@import "compass/css3";

input[type=text], input[type=email], input[type=password], input[type=number] {
    width: 100%;
    height: 30px !important;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: black;
}

.blogpost {
    background-color: rgba(0, 0, 0, 0.6);
    width: 80%;
    margin: auto;
    color: white;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 300;
    line-spacing: -2px;
    padding-bottom: 30px;
    padding: 15px;
    text-align: center;
}

.blogpost h1 {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}
