{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="section header">
        <h1 class='animated fadeInRight'>Login</h1>
        <h4 class='animated fadeInRight'>Login here</h4>
    </div>
    <div class='container'>
        <h1>Login</h1>
        <form class="" name="signup" method="post">
            <div class="signupform">
                {% csrf_token %}

                {{ form.username.label_tag }}
                <div class='input-group'>
                    <span class='input-group-addon' id='basic-addon1'></span>
                    {{ form.username }}
                </div>

                {{ form.password.label_tag }}
                <div class='input-group'>
                    <span class='input-group-addon' id='basic-addon1'></span>
                    {{ form.password }}
                </div>

                <div class="btn-group" role="group" aria-label="...">

                    <input type="submit" value="Submit" class="btn btn-success"/></input>
                    <a href="{% url 'ION:home' %}" class="btn btn-danger" role="button">Cancel</a>
                </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
