{% extends "base.html" %}

{% block index-tab %}
    active
{% endblock %}

{% block content %}
<div class="main-content section">
    <h1>Interactive Outdoor Program</h1>
    <h4>Bringing People Together</h4>
    <div class="animated fadeInRight autoscroll">
        <div class='scrollbox'>
            <a class="fa fa-square-o scrolldown" href="#about-me"></a>
            <div class='scrolldownarrow'>
                <a class="fa fa-chevron-down"></a>
            </div>
        </div>
    </div>
</div>
<div id='about-us' class='section'>
    <h1><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</h1>
    <p class='paragraph-text'>
        Based in Eugene, Oregon, IOP(Integrated Outdoor Program) is a nature-themed high school
        class, which integrates Physical Education into an English class. This class is unique to
        South Eugene High School, and is taught by Jeff Hess and Peter Hoffmeister. IOP runs all
        three trimesters during the school year, and each trimester represents a theme of nature.
        The first trimester being Desert themed, the second being Snow themed, and the third being
        River themed.
    </p>

    <p class='paragraph-text'>
        IOP has been a valued class at South Eugene High School for over 10 years and
        has created countless memories and experiences for students, as well as inspiring others to
        explore and learn about the great outdoors. The purpose of this website is to tell IOP
        students of announcements.
    </p>

    <p class='paragraph-text'>
        This website can also be used by anyone looking to organize a
        trip or trade their gear. This website has an up to date calendar as well as an updated
        Twitter feed to remind students about the upcoming days of class. We also have a photo
        gallery to show the fun opportunities that students in this class can have. We hope that the
        InteractiveOutdoorNetwork can let students stay updated as to what goes on in IOP.
    </p>
    <div class="btn-group">
        <a href="{% url 'ION:signup' %}" class="btn btn-info" role="button">Get Started Now</a>
        <a href="{% url 'login' %}" class="btn btn-secondary"><span class="fa fa-sign-in"></span> Login</a>
    </div>
</div>
<div id='geartrade' class='section'>
    <h1><i class="fa fa-exchange" aria-hidden="true"></i>Gear Trade</h1>
    <p class='paragraph-text'>
    The InteractiveOutdoorProgram hosts an effective way of buying, selling, or
    trading gear. By clicking the sell option, users are able to title their post, write a description,
    and even post a picture to effectively advertise their gear. By clicking the buy option, users can
    browse posts made by others to find the gear they are looking for. Make sure you post your contact
    information in the description to let others know how to contact you when someone would want to
    buy/trade your equipment.
    </p>
    <div class="btn-group">
        <a class="btn btn-info" href="{% url 'ION:gearbuy' %}"><span class="fa fa-usd"></span>Buy</a>
        <a class="btn btn-secondary" href="{% url 'ION:gearsell' %}"><span class="fa fa-tag"></span>Sell</a>
    </div>
</div>
<div id='blog' class='section'>
    <h1><i class="fa fa-pencil" aria-hidden="true"></i>Blog</h1>
    <p class='paragraph-text'>
        Our website has an updated blog feed with messages from the IOP Facebook page to bring
        students without a Facebook account up-to-date information on future dates, activities, and
        general information. The SL’s, as well as Jeff and Pete are the only one’s able to make blog
        posts, so users are aware of the authenticity of each post. Email us if you have any
        questions with the functionality of the blog or the other utilities present on the
        InteractiveOutdoorProgram.
    </p>
    <div class="btn-group">
            <a class="btn btn-info" href="{% url 'ION:blog' %}">Read More</a>
    </div>
</div>
<div class="endcontent section">
    <a class="fa fa-leaf" href="#"></a>
    <h1>Interactive Outdoor Program</h1>
    <div class="social">
        <a class="fa fa-facebook-official" href="https://www.facebook.com/groups/550583415148325/" target="_blank"></a>
        <a class="fa fa-slack" href="https://interactiveoutdoors.slack.com/" target="_blank"></a>
        <a class="fa fa-twitter-square" href="#"></a>
        <a class="fa fa-envelope-o" href="mailto:interactiveoutdoorprogram@gmail.com?Subject=Hey%20there!" target="_blank"></a>
    </div>
</div>
{% endblock content %}
