{% extends 'base.html' %}

{% block gear-tab %}active{% endblock %}

{% block content %}
    <div class='section header'>
        <h1 class='animated fadeInRight'>Sell Gear</h1>
        <h4 class='animated fadeInRight'>List items to sell</h4>
    </div>
    <div class='container'>
        <form method="POST" class="" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.title.label_tag }}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                {{ form.title }}
            </div>

            {{ form.description.label_tag }}
            <div class="input-group">
                {{ form.description }}
                <span class="input-group-addon fa fa-file-text-o" id="basic-addon1"></span>
            </div>

            {{ form.price.label_tag }}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">$</span>
                {{ form.price }}
            </div>

            {{ form.photo.label_tag }}
            <div class="btn-group">
                {{ form.photo }}
            </div>

            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
{% endblock %}
