{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="title">
        <svg>
        <defs>
            <mask id="titlemask" x="0" y="0" width="100%" height="100%">
                <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                <text id="title" x="50%" y="0" dy="1.58em">Integrated Outdoor Program</text>
                <text id="subtitle" x="50%" y="0" dy="9.8em">Bringing People Together</text>
            </mask>
            </defs>
            <rect id="titlebase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
    <div id="autoscroll" class="animated slideInUp noselect noselect-recursive">
        <div id=scrollbox>
            <a id="scrolldown" class="fa fa-square-o" href="#footer"></a>
            <a id="scrolldownarrow" class="glyphicon glyphicon-chevron-down"></a>
        </div>
    </div>
</div>
<div class="aboutus">
    <div class="aboutuscontainer">
        <a class="glyphicon glyphicon-info-sign"></a>
        <h1>About Us</h1>
        <hr>
        <p>
            Based in Eugene, Oregon, IOP(Integrated Outdoor Program) is a nature-themed high school
            class, which integrates Physical Education into an English class. This class is unique to
            South Eugene High School, and is taught by Jeff Hess and Peter Hoffmeister. IOP runs all
            three trimesters during the school year, and each trimester represents a theme of nature.
            The first trimester being Desert themed, the second being Snow themed, and the third being
            River themed. IOP has been a valued class at South Eugene High School for over 10 years and
            has created countless memories and experiences for students, as well as inspiring others to
            explore and learn about the great outdoors. The purpose of this website is to tell IOP
            students of announcements. This website can also be used by anyone looking to organize a
            trip or trade their gear. This website has an up to date calendar as well as an updated
            Twitter feed to remind students about the upcoming days of class. We also have a photo
            gallery to show the fun opportunities that students in this class can have. We hope that the
            InteractiveOutdoorNetwork can let students stay updated as to what goes on in IOP.
        </p>
        <a href="{% url 'ION:signup' %}" class="btn btn-info" role="button">Get Started Now</a>
        <a href="{% url 'login' %}" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Login</a>
    </div>
</div>
<div class="geartrade">
    <div class="geartradecontainer">
        <a class="glyphicon glyphicon-transfer"></a>
        <h1>Gear Trade</h1>
        <hr>
        <p>
        The InteractiveOutdoorProgram hosts an effective way of buying, selling, or trading gear. By clicking the sell option, users are able to title their post, write a description, and even post a picture to effectively advertise their gear. By clicking the buy option, users can browse posts made by others to find the gear they are looking for. Make sure you post your contact information in the description to let others know how to contact you when someone would want to buy/trade your equipment.
        </p>
        <div class="btn-group">
            <a class="btn btn-lg btn-default" href="{% url 'ION:gearbuy' %}"><span class="glyphicon glyphicon-usd"></span>Buy</a>
            <a class="btn btn-lg btn-default" href="{% url 'ION:gearsell' %}"><span class="glyphicon glyphicon-tag"></span>Sell</a>
        </div>
    </div>
</div>
<div class="blog">
    <div class="blogcontainer">
        <a class="glyphicon glyphicon-pencil"></a>
        <h1>Blog</h1>
        <hr>
        <p>
        Our website has an updated blog feed with messages from the IOP Facebook page to bring students without a Facebook account up-to-date information on future dates, activities, and general information. The SL’s, as well as Jeff and Pete are the only one’s able to make blog posts, so users are aware of the authenticity of each post. Email us if you have any questions with the functionality of the blog or the other utilities present on the InteractiveOutdoorProgram.
        </p>
        <div class="btn-group">
            <a class="btn btn-lg btn-info" href="{% url 'ION:blog' %}">Read More</a>
        </div>
    </div>
</div>
<div class="endcontent">
    <a class="glyphicon glyphicon-leaf" href="#"></a>
    <h1>Interactive Outdoor Program</h1>
    <div class="social">
        <a class="fa fa-facebook-official" href="https://www.facebook.com/groups/550583415148325/" target="_blank"></a>
        <a class="fa fa-slack" href="https://interactiveoutdoors.slack.com/" target="_blank"></a>
        <a class="fa fa-twitter-square" href="#"></a>
        <a class="fa fa-envelope-o" href="mailto:interactiveoutdoorprogram@gmail.com?Subject=Hey%20there!" target="_blank"></a>
    </div>
</div>
{% endblock content %}
