{% extends "base.html" %}

{% block content %}
<div id="content">
    <div class="title">
        <svg>
        <defs>
            <mask id="titlemask" x="0" y="0" width="100%" height="100%">
                <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                <text id="title" x="50%" y="0" dy="1.58em">Interactive Outdoor Program</text>
                <text id="subtitle" x="50%" y="0" dy="9.8em">Bringing People Together</text>
            </mask>
            </defs>
            <rect id="titlebase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
    <div id="autoscroll" class="animated slideInUp noselect noselect-recursive">
        <div id=scrollbox>
            <a id="scrolldown" class="fa fa-square-o" href="#footer"></a>
            <a id="scrolldownarrow" class="glyphicon glyphicon-chevron-down"></a>
        </div>
    </div>
</div>
<div class="aboutus">
    <div class="aboutuscontainer">
        <a class="glyphicon glyphicon-info-sign"></a>
        <h1>About Us</h1>
        <p>
            Based in Eugene, Oregon, IOP(Integrated Outdoor Program) is a nature-themed high school
            class, which integrates Physical Education into an English class. This class is unique to
            South Eugene High School, and is taught by Jeff Hess and Peter Hoffmeister. IOP runs all
            three trimesters during the school year, and each trimester represents a theme of nature.
            The first trimester being Desert themed, the second being Snow themed, and the third being
            River themed. IOP has been a valued class at South Eugene High School for over 10 years and
            has created countless memories and experiences for students, as well as inspiring others to
            explore and learn about the great outdoors. The purpose of this website is to tell IOP
            students of announcements. This website can also be used by anyone looking to organize a
            trip or trade their gear. This website has an up to date calendar as well as an updated
            Twitter feed to remind students about the upcoming days of class. We also have a photo
            gallery to show the fun opportunities that students in this class can have. We hope that the
            InteractiveOutdoorNetwork can let students stay updated as to what goes on in IOP.
        </p>
        <a href="{% url 'ION:signup' %}" class="btn btn-info" role="button">Get Started Now</a>
        <a href="{% url 'login' %}" class="btn btn-primary" role="button">Login</a>
    </div>
</div>
<div id="activities">
            <div id="hiking" class="activityimage">
                <!-- <a href=/pages/activities/hiking.html> -->
                <svg>
                    <defs>
                        <mask id="hikingmask" x="0" y="0" width="100%" height="100%">
                            <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                            <text id="title" x="50%" y="0" dy="1.58em">Hiking</text>
                            <text id="subtitle" x="50%" y="0" dy="9.8em">find someone</text>
                        </mask>
                    </defs>
                    <rect id="hikingbase" x="0" y="0" width="100%" height="100%"/>
                </svg>
            </div>
            <div id="rockclimbing" class="activityimage">
                <!--<a href=/pages/activities/hiking.html>-->
                <svg>
                    <defs>
                        <mask id="rockclimbingmask" x="0" y="0" width="100%" height="100%">
                            <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                            <text id="title" x="50%" y="0" dy="1.58em">Climbing</text>
                            <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                        </mask>
                    </defs>
                    <rect id="rockclimbingbase" x="0" y="0" width="100%" height="100%"/>
                </svg>
            </div>
            <div id="swimming" class="activityimage">
                <!--<a href=/pages/activities/hiking.html>-->
                <svg>
                    <defs>
                        <mask id="swimmingmask" x="0" y="0" width="100%" height="100%">
                            <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                            <text id="title" x="50%" y="0" dy="1.58em">Swimming</text>
                            <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                        </mask>
                    </defs>
                    <rect id="swimmingbase" x="0" y="0" width="100%" height="100%"/>
                </svg>
            </div>
            <div id="running" class="activityimage">
                <svg>
                    <defs>
                        <mask id="runningmask" x="0" y="0" width="100%" height="100%">
                            <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                            <text id="title" x="50%" y="0" dy="1.58em">Running</text>
                            <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                        </mask>
                    </defs>
                    <rect id="runningbase" x="0" y="0" width="100%" height="100%"/>
                </svg>
            </div>
            <div id="sports" class="activityimage">
                <svg>
                    <defs>
                        <mask id="sportsmask" x="0" y="0" width="100%" height="100%">
                            <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                            <text id="title" x="50%" y="0" dy="1.58em">Sports</text>
                            <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                        </mask>
                    </defs>
                    <rect id="sportsbase" x="0" y="0" width="100%" height="100%"/>
                </svg>
            </div>
            <div id="skiing" class="activityimage">
                <svg>
                    <defs>
                        <mask id="skiingmask" x="0" y="0" width="100%" height="100%">
                            <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                            <text id="title" x="50%" y="0" dy="1.58em">Skiing</text>
                            <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                        </mask>
                    </defs>
                    <rect id="skiingbase" x="0" y="0" width="100%" height="100%"/>
                </svg>
            </div>
</div>
<div id="geartrade">
    <h1>Gear Trade</h1>
    <div id="sell">
        <p>
            <button type = "button" class = "btn btn-primary btn-lg btn-block">
                Buy
            </button>
        </p>
    </div>

    <div id="buy">
        <p>
            <button type = "button" class = "btn btn-primary btn-lg btn-block">
                Sell
            </button>
        </p>
    </div>
</div>
{% endblock content %}
