{% extends 'base.html' %}

{% block content %}
    <div id="content">
        <div class="gearbuycontainer">
            <h1>IOP Images</h1>
            {% for photo in photo_list %}
                <section class='gearpost'>
                    <img src="{{ photo.photo.url }}" style="height: 400px; max-width: 100%"/>
                    <br>
                        {{ photo.title }}
                    <div>
                        <span>Photographer: {{ photo.author }}</span>
                        <br>
                        <span>Uploaded: {{ photo.created_date }}</span>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
