{% extends 'base.html' %}

{% block content %}
    <div class="gearbuycontent">
        <div class="gearbuycontainer">
            <div class="othertitle scrolldown">
                <svg>
                <defs>
                    <mask id="titlemask" x="0" y="0" width="100%" height="100%">
                        <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                        <text id="title" x="50%" y="0" dy="1.58em">IOP Images</text>
                        <text id="subtitle" x="50%" y="0" dy="9.8em">Bringing People Together</text>
                    </mask>
                    </defs>
                    <rect id="titlebase" x="0" y="20" width="100%" height="80%"/>
                </svg>
            </div>
            {% for photo in photo_list %}
                <section class='gearpost'>
                    <img src="{{ photo.photo.url }}" style="height: 400px; max-width: 100%"/>
                    <br>
                        {{ photo.title }}
                    <div>
                        <span>Photographer: {{ photo.author }}</span>
                        <br>
                        <span>Uploaded: {{ photo.created_date }}</span>
                    </div>
                </section>
            {% endfor %}

            {% if photo_list.has_other_pages %}
            <div>
              <ul class="pagination">
                {% if photo.has_previous %}
                  <li><a href="?page={{ photo_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in photo_list.paginator.page_range %}
                  {% if photo_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if photo_list.has_next %}
                  <li><a href="?page={{ photo_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
