{% extends 'base.html' %}

{% block content %}
<div id="activities">
    <div id="hiking" class="activityimage">
        <!-- <a href=/pages/activities/hiking.html> -->
        <svg>
            <defs>
                <mask id="hikingmask" x="0" y="0" width="100%" height="100%">
                    <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                    <text id="title" x="50%" y="0" dy="1.58em">Hiking</text>
                    <text id="subtitle" x="50%" y="0" dy="9.8em">find someone</text>
                </mask>
            </defs>
            <rect id="hikingbase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
    <div id="rockclimbing" class="activityimage">
        <!--<a href=/pages/activities/hiking.html>-->
        <svg>
            <defs>
                <mask id="rockclimbingmask" x="0" y="0" width="100%" height="100%">
                    <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                    <text id="title" x="50%" y="0" dy="1.58em">Climbing</text>
                    <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                </mask>
            </defs>
            <rect id="rockclimbingbase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
    <div id="swimming" class="activityimage">
        <!--<a href=/pages/activities/hiking.html>-->
        <svg>
            <defs>
                <mask id="swimmingmask" x="0" y="0" width="100%" height="100%">
                    <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                    <text id="title" x="50%" y="0" dy="1.58em">Swimming</text>
                    <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                </mask>
            </defs>
            <rect id="swimmingbase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
    <div id="running" class="activityimage">
        <svg>
            <defs>
                <mask id="runningmask" x="0" y="0" width="100%" height="100%">
                    <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                    <text id="title" x="50%" y="0" dy="1.58em">Running</text>
                    <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                </mask>
            </defs>
            <rect id="runningbase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
    <div id="sports" class="activityimage">
        <svg>
            <defs>
                <mask id="sportsmask" x="0" y="0" width="100%" height="100%">
                    <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                    <text id="title" x="50%" y="0" dy="1.58em">Sports</text>
                    <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                </mask>
            </defs>
            <rect id="sportsbase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
    <div id="skiing" class="activityimage">
        <svg>
            <defs>
                <mask id="skiingmask" x="0" y="0" width="100%" height="100%">
                    <rect id="alpha" x="0" y="0" width="100%" height="100%" />
                    <text id="title" x="50%" y="0" dy="1.58em">Skiing</text>
                    <text id="subtitle" x="50%" y="0" dy="9.8em">Find Someone</text>
                </mask>
            </defs>
            <rect id="skiingbase" x="0" y="0" width="100%" height="100%"/>
        </svg>
    </div>
</div>
{% endblock content %}
